<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/react-datepicker/1.0.4/react-datepicker.min.css" crossorigin="anonymous">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="stylesheet" href="//cdn.materialdesignicons.com/3.5.95/css/materialdesignicons.min.css">
    <style>@media print { body { -webkit-print-color-adjust: exact; } }</style>
	</head>
	<body style="background-color: #001f3f; margin: 0px; font-family: 'Open Sans', sans-serif;">
		<div id="app"><%= htmlWebpackPlugin.options.app %></div>
	</body>
</html>
